{% extends "base.njk" %}
{% block content %}
        <h2 id="about-me">About Me</h2>
        <section id="about-me-content">
            <h3>Some Subheading</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </section>
        <h2 id="tech-stack">Tech and Tools I use</h2>
        <section id="tech-stack-content">
            <img alt="Tech Icon" src="images/favicon.svg" width="30px">
            <img alt="Tech Icon" src="images/favicon.svg" width="30px">
            <img alt="Tech Icon" src="images/favicon.svg" width="30px">
            <img alt="Tech Icon" src="images/favicon.svg" width="30px">
            <img alt="Tech Icon" src="images/favicon.svg" width="30px">
        </section>       
        <h2 id="projects">Digital Playground</h2>
        <section class="section">
            <header class="section-header">
                <!-- section header content -->
                <div>
                    <img alt="icon_projects" src="/images/favicon.svg" width="100px" height="100px"/>
                    <h3>Current Projects</h3>
                    <p>Projects I currently am working on</p>
                </div>
            </header>
                <div class="project-container">
                    <div class="card">
                        <img src="/images/piano.jpg" alt="Project Image 01">
                        <div class="card-content">
                            <h3>Project 1</h3>
                            <p>
                                Project Description: 
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            </p>
                            <div class="card-links">
                                <p class="code-link"><a href="#">&lt;Code/&gt;</a></p>
                                <p class="project-link"><a href="#">Visit Website</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card">
                        <img src="/images/piano.jpg" alt="Project Image 01">
                        <h3>Project 1</h3>
                        <p>
                            Project Description: 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        </p>
                        <div class="card-links">
                            <p class="code-link"><a href="#">&lt;Code/&gt;</a></p>
                            <p class="project-link"><a href="#">Visit Website</a></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/images/piano.jpg" alt="Project Image 01">
                        <h3>Project 1</h3>
                        <p>
                            Project Description: 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        </p>
                        <div class="card-links">
                            <p class="code-link"><a href="#">&lt;Code/&gt;</a></p>
                            <p class="project-link"><a href="#">Visit Website</a></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/images/piano.jpg" alt="Project Image 01">
                        <h3>Project 1</h3>
                        <p>
                            Project Description: 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        </p>
                        <div class="card-links">
                            <p class="code-link"><a href="#">&lt;Code/&gt;</a></p>
                            <p class="project-link"><a href="#">Visit Website</a></p>
                        </div>
                    </div> -->
                </div>
        </section>
        <h2 id="contact">Contact Me</h2>
        <section id="contact-content">
            <p>Let's get in touch | Links to GitHub, LinkedIn etc.</p>
        </section>
{% endblock %}