{% extends "base.njk" %}
{% block content %}
    <section id="links-stack">
        <h2> {{ subheading }}</h2>
        {# <img alt="links Icon" src="../../images/favicon.svg" width="30px">
        <img alt="links Icon" src="../../images/favicon.svg" width="30px">
        <img alt="links Icon" src="../../images/favicon.svg" width="30px">
        <img alt="links Icon" src="../../images/favicon.svg" width="30px">
        <img alt="links Icon" src="../../images/favicon.svg" width="30px"> #}
    </section>
{% endblock %}