{# !Turn card into partial component eventually! #}
{% extends "base.njk" %}
{% block content %}
    <section id="playground" class="section">
        <header class="section-header">
            <!-- section header content -->
            <div>
                <h2>Current Workstation</h2>
                <p>This is a place for ongoing experiments and fun projects. The goal is mostly to play with new languages, libraries  
                    or tools and not so much to present production ready software. 
                    I started this primarily for myself, but as I love to browse through projects and ideas of fellow developers, I decided 
                    to also share more of my own process.
                </p>
            </div>
        </header>
            <div class="project-container">
                <div class="card">
                    <div class="img-container">
                        <img src="../../images/play.png" alt='Project One "Portfolio Play"'>
                    </div>
                    <div class="h-container">
                        <h3>Portfolio - Mini 2D game style</h3>
                    </div>
                    <div class="card-content">
                        <p>
                            More of a creative and just for fun approach to my portfolio. 
                            You can walk around "my" room and get to know me a bit.
                            Built with Kaplay.js (previously Kaboom.js).
                        </p>
                        <div class="card-links">
                            <p class="source-link"><a target="_blank" href="https://github.com/lenakujath/portfolio-play">&lt;Source/&gt;</a></p>
                            <p class="project-link"><a style="color: grey;">Website</a></p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="/images/sequencer.png" alt='Project Two "Sequencer"'>
                    </div>    
                    <div class="h-container">
                        <h3>Music Sequencer</h3>
                    </div>
                    <div class="card-content">
                        <p>
                            Music sequencer for the web. 
                            Written in React, thinking about 
                            switching to Preact or a solution more conscious 
                            about the size of JavaScript shipped.
                            The live demo has some latency issues, it's useable/playable though!
                        </p>
                        <div class="card-links">
                            <p class="source-link"><a href="https://github.com/lenakujath/musical-sequencer">&lt;Source/&gt;</a></p>
                            <p class="project-link">
                                <a target="_blank" href="https://projects.barcelonacodeschool.com/music-sequencer/">Website</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="/images/website.png" alt='Project Two "Sequencer"'>
                    </div>    
                    <div class="h-container">
                        <h3>Personal Website</h3>
                    </div>
                    <div class="card-content">
                        <p>
                            This website is also kind of part of my playground. 
                            First time I got familiar with Eleventy and I already consider myself a fan.
                            Hoping to use the space to test and try out a lot of new things.
                        </p>
                        <div class="card-links">
                            <p class="source-link"><a href="https://github.com/lenakujath/personal-website">&lt;Source/&gt;</a></p>
                            <p class="project-link"><a style="color: grey;">Website</a></p>
                        </div>
                    </div>
                </div> 
    </section>
{% endblock %}