{% extends "base.njk" %}
{% block content %}
    <section id="tech-stack">
        <h2> {{ subheading }}</h2>
        <img alt="Tech Icon" src="../../images/favicon.svg" width="30px">
        <img alt="Tech Icon" src="../../images/favicon.svg" width="30px">
        <img alt="Tech Icon" src="../../images/favicon.svg" width="30px">
        <img alt="Tech Icon" src="../../images/favicon.svg" width="30px">
        <img alt="Tech Icon" src="../../images/favicon.svg" width="30px">
    </section>
{% endblock %}