/* cutive-mono-regular - latin_latin-ext */
@font-face {
    font-display: swap; 
    font-family: 'Cutive Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/cutive-mono-v21-latin_latin-ext-regular.woff2') format('woff2'); 
}
  
* {
	box-sizing: border-box;
}

ul.nav-links {
    padding: 0;
}

body {
	margin: 0; 
    font-family: 'Cutive Mono';
}

main {
    max-width: 1300px;
    margin: 0 auto;
}

.section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.5rem;

  @media (min-width: 600px) {
    grid-template-columns: 240px 1fr;
  }
}

.section:has(.card:nth-last-child(n + 4)) {
  grid-template-columns: 1fr;

   .section-header {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
  }
}

.section-header {
    container-name: section-header;
    container-type: inline-size;
}

.section-header img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    }

/* Using cqw unit with clamp() to achieve fluent typography*/
.section-title {
    font-size: clamp(1rem, 1rem + 2cqw, 1.75rem);
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

h1 {
    font-size: 36px;
}

h2 {
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 16px;
    line-height: 1.3;
}

#hero { 
    height: 600px;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem; 
} 

.nav-links li {
    list-style-type: none;
    line-height: 4.5;
    font-family: monospace;
    font-size: 16px;
    transform: skew(-15deg);
    border: 1px solid black;
    box-shadow: 2px 4px 0px 1px #120e1e;
    margin-top: 2rem;
}

.nav-links li a {
    padding: 1rem 1.5rem;
}

.nav-links li a:hover {
    text-decoration: line-through;

}

.topbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    top: 1rem;
}

.logo {
    width: 60px;
    height: 60px;
}

#about-me-content {
    text-align: left;
}

#tech-stack-content {
    display: flex;
    justify-content: space-between;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
}
 
.project-container {
    container-type: inline-size;
    width: 100%;
}

.card {
    min-height: 250px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    margin: 1rem;  
    transition: border 0.1s ease-in, border-radius 0.1s ease-in, box-shadow 0.1s ease-in;
}

.card:hover {
    border: 2px solid lightgrey;
    border-radius: 20px;
    box-shadow: 1px 4px 10px 2px lightgrey;
}

.card img {
    max-width: 250px;
    flex: 0 0 clamp(70px, 10cqw + 70px, 150px);
    position: absolute;
}

.img-container {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
}

.card-content {
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-container:has(.card:nth-last-child(n+2)) {
    display: flex;
    @container (min-width: 400px) {
        .card {
            flex-direction: column;
            align-items: center;
        }
    }
}

@container (min-width: 400px) {
   .card {
     flex-direction: row;
   }
 }

 .h-container {
    height: 5rem;
}

footer {
    padding: 1rem;
    text-align: center;
}

@media (max-width: 1150px){
    header {
        flex-direction: column-reverse;
    }
    h1, h2 {
        text-align: center;
    }
}

@media (max-width: 900px){
    main {
        margin: 0;
    }
}


@media (max-width: 600px){
    .project-container:has(.card:nth-last-child(n+2)) {
    flex-direction: column;
    align-items: center;
    }
    .section-header {
        text-align: center;
    }
    .topbar{
        justify-self: center;
    }
    #hero{
        justify-content: space-evenly;
    }
}

@media (max-width: 480px){
    
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
}