/* cutive-mono-regular - latin_latin-ext */
@font-face {
    font-display: swap; 
    font-family: 'Cutive Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/cutive-mono-v21-latin_latin-ext-regular.woff2') format('woff2'); 
}
  
* {
	box-sizing: border-box;
}

ul.nav-links {
    padding: 0;
}

body {
	margin: 0; 
    font-family: 'Cutive Mono';
}

main {
    max-width: 1300px;
    margin: 0 auto;
}

main section {
    /* margin: 3rem; */
    padding: 2rem;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.5rem;

  @media (min-width: 600px) {
    grid-template-columns: 240px 1fr;
  }
}

.section:has(.card:nth-last-child(n + 4)) {
  grid-template-columns: 1fr;

   .section-header {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
  }
}

.section-header {
  container-name: section-header;
  container-type: inline-size;
}

.section-header img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

/* Using cqw unit with clamp() to achieve fluent typography*/
.section-title {
  font-size: clamp(1rem, 1rem + 2cqw, 1.75rem);
}


a {
    text-decoration: none;
    /* color: white; */
}

a:visited {
    color: black;
}

h1 {
    font-size: 36px;
}

h2 {
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
    /* color: #58e6d9; */
}

h3 {
    font-size: 25px;
    /* color: white; */
}

p {
    font-size: 16px;
    line-height: 2;
}

#hero { 
    height: 600px;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem; 
} 

.nav-links li {
    list-style-type: none;
    line-height: 4.5;
    font-family: monospace;
    font-size: 16px;
    transform: skew(-15deg);
    border: 1px solid black;
    box-shadow: 2px 4px 0px 1px #120e1e;
    margin-top: 2rem;
    /* background: #af3044; */
}

.nav-links li a {
    /* background-color: #497e5f; */
    /* background-color: #994960; */
    padding: 1rem 1.5rem;
}

.nav-links li a:hover {
   text-decoration: line-through;

}

.topbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    top: 1rem;
}

.logo {
    width: 60px;
    height: 60px;
}

#about-me-content {
    text-align: left;
}

#tech-stack-content {
    display: flex;
    justify-content: space-between;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
}

.project-container {
  container-type: inline-size;
  width: 100%;
}

.card {
    min-height: 250px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
}

.card img {
    margin-right: 1rem;
    max-width: 250px;
    flex: 0 0 clamp(70px, 10cqw + 70px, 150px);
    object-fit: contain;
}

@container (min-width: 400px) {
  .card {
    flex-direction: row;
  }
}

/* #cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
} */


/* .card-links {
    display: flex;
} */

/* #cards a { */
    /* color: white; */
    /* background-color: #994960;
    padding: 0.5rem 1rem;
} */

/* #cards a:hover { */
    /* padding: 0.8rem 1.2rem; */
    /* text-decoration: line-through;
} */

/* .code-link {
    margin-right: 1rem;
}

.card img {
    max-width: 100%;
} */

footer {
    /* background-color: black; */
    /* color: white; */
    padding: 1rem;
    text-align: center;
}

@media (max-width: 1150px){
    header {
        flex-direction: column-reverse;
    }
    h1, h2 {
        text-align: center;
    }
}

@media (max-width: 900px){
    main {
        margin: 0;
    }
}

@media (max-width: 480px){
    
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }

}