{# <section class="topbar">
</section> #}
    <header id="hero">
        <nav class="nav">
            <ul class="nav-links">
                <li><a href="#about-me">About Me</a></li>
                <li><a href="#tech-stack" >Tech And Tools</a></li>
                <li><a href="#projects" >Playground</a></li>
                <li><a href="#contact" >Contact Me</a></li>
            </ul>
        </nav>
        <div class="title">
            <h1>Hi! I'm Lena, a web developer based in Germany.</h1>
        </div>
    </header>