<div class="topbar">
  <a href="/">
    <img class="logo" alt="Logo" src="../../../images/logo.svg" width="30px" heigth="30px">
  </a>
  <span></span>
</div>
<header id="hero">
    <nav class="nav">
      <ul class="nav-links">
        {% for item in nav.pages %}
        <li>
          <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
            <span>{{ item.label }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="title">
        <h1> {{ title }} </h1>
    </div>
</header>