  <div class="user-toggle">
    <div role="status" class="visually-hidden js-mode-status"></div>
    <button class="toggle-button js-mode-toggle">
      <span class="toggle-button__icon sun" aria-hidden="true">
        <img 
        class="theme-toggle-icon" 
        alt="icon of the sun to indicate light mode switch" 
        src="../../../images/sun.svg" 
        >
      </span>
      <span class="toggle-button__icon moon" aria-hidden="true">
        <img 
        class="theme-toggle-icon" 
        alt="icon of the moon to indicate dark mode switch" 
        src="../../../images/moon.svg" 
        >
      </span>
    </button>
  </div>